@font-face {
    font-family: 'IndieFlower';
    src: local('IndieFlower'), 
    url(./fonts/Indie_Flower/IndieFlower-Regular.ttf) format('truetype');
}
.orange{
    color: orange;
}
.purple{
    color: purple; 
}
.gentext{
    font-family: "IndieFlower";
}
.bgcolor{
    height: 120vh;
    background-color: rgb(46, 46, 46);
}

.banner {
    color: orange;
    width: 100%;
    padding-top: 1%;
    justify-content: center;
    display: flex;
}

.childbox{
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top:2vh;
    margin-bottom: 1vh;
    height: 95vh;
    background-color: rgb(117, 117, 117);
    text-align: center;
    border-radius: 10px;
    /* display: inline-flex; */
    /* justify-content: center; */
}
@media (min-width:1300px){
    .signupbox{
        display: inline-flex;
    }
    .childbox-signups { 
        background-color: rgb(216, 216, 216);
        display: inline-block;
        /* display: inline-flex; */
        margin-left: 5vh;
        margin-right: 5vh;
        margin-bottom: 5vh;
        width: 60vh;
        height: 45vh;
        /* width: 100%;
        height: 100%; */
        padding: 2vh;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
    }
    .childbox-guest {
        background-color: rgb(216, 216, 216);
        display: inline-block;
        margin-left: 5vh;
        margin-right: 5vh;
        vertical-align: middle;
        width: 80%;
        height: 25vh;
        /* width: 1300px;
        height: 300px; */
        border-radius: 10px;
    }
}

.a-button{ 
    font-weight: 400;
    font-family: 'IndieFlower';
    text-align: center;
    border: 1px solid transparent;
    height: 200%;
    width: 200%;
    margin-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1rem;
    border-radius: .25rem;
    cursor: pointer;
    background-color: purple;
    color: orange;
}
.jamshare-logo {
    width: 15%;
    height: 15%;
    display: inline-flex;
    justify-content: center;
    margin: 5px;
}
div {
    font-family: "IndieFlower";
}
h1 {
    text-align: center;
    color: orange
}
h2 {
    text-align: center;
    color: orange
}
input [type=text], select {
    font-family: "IndieFlower";
    border-color: none;
    width: 100%;
}

.border::hover {
    border: red;
    border-radius: 5px;
}

.join-button {
    height: 250px;
    width: 300px;
    background-color: pink;
    font-size: 1.5rem;
}

.btn-flat {
    background-color: purple;
    color: white;
  }

.centered {
    height: 100vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 46, 46);
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    font-size: x-large;
  }

  .container{
    background-color: silver;
  }

  .session-id {
    background-color: rgb(221, 88, 0);
    height: 250px;
    width: 300px;
  }

