
.jybanner {
  background-color:black;
  width: 100%;
  height:100px;
  margin-top: -10px;
  position:fixed;
  justify-content: center;
  display:flex;
  overflow: hidden;
}

.jybannerb {
  background-color:black;
  width: 100%;
  height: 50px;
  color: orange;
  bottom: 0px;
  margin-bottom: -10px;
  position:fixed;
  justify-content: center;
  display:flex;
  overflow: hidden;
  font-size: 15pt;
  text-align: center;
}

.jam-logo {
  width:auto;
  height: 100px;;
  display: block;
  margin: 10px;
}

.round{
  object-fit: fill;
  border-radius: 50%;
  overflow: hidden;
}

button.rec{
  height: 50px;
  width: 240px;
  margin-top: 20px;

  text-align: center;
  color: orange;
  background-color:  purple;
  border: 3px solid #ffffff; 
  border-radius: 5px;
  font-weight: bold;
  font-size: 10pt;
}

.dragUp{
  top: 0px;
  right: 43%;
  position:absolute;
}
.dragDn{
  bottom: 0px;
  right: 43%;
  position:absolute;
}
.ProjectSectionContent {
  display: flex;
  height: 100vh;
  background-color:  rgb(46, 46, 46);
}

.RoomComponentList{
  padding: 0px;
  margin: 5px; 
  background-color: rgb(216, 216, 216);
  display:block;
  text-align: left;
  border: 3px solid #ffffff; 
  border-radius: 5px;
  color: purple;
  width: auto;
  height: 55px;
  font-family: "IndieFlower";
  font-size: 18pt;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

.RoomComponentListAddImg{
  height: 50px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  background-color: rgb(117, 117, 117);
  border: 0px solid #ffffff; 
}

.userblock{
  background-color: rgb(117, 117, 117);
  display: block;
  border: 3px solid #ffffff;
  border-radius: 5px;
  color: rgb(216, 216, 216);
  width: 300px;
  height: auto;
  left: 10px;
  bottom: 100px;
  position: fixed;
  overflow:scroll;
    overflow-x:hidden;
    overflow-y:auto;
  z-index: 3;
}

.recordblock{
  background-color: rgb(117, 117, 117);
  display: block;
  border: 3px solid #ffffff;
  border-radius: 5px;
  color: rgb(216, 216, 216);
  width:auto;
  height: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  left: 500px;
    right: 500px;
    bottom: 100px;
  position: fixed;
  overflow:scroll;
    overflow-x:hidden;
    overflow-y:auto;
  z-index: 2;
}

.jamblock{
  
  text-align: center;
  background-color: rgb(117, 117, 117);
  border: 3px solid #ffffff;
  border-radius: 5px;
  color: rgb(216, 216, 216);
  width: 300px;
  height: auto;
  font-family: "IndieFlower";
  font-size: 18pt;
  bottom: 100px;
  position: fixed;
  overflow:scroll;
    overflow-x:hidden;
    overflow-y:auto;
    z-index: 3;
}

.jamblock h1{
  font-weight: bold;
  margin: 10px;
}

.jamblock img{
  margin-bottom: 5px;
}

@media (0px<=width<=820px) {
  .RoomComponentList{
    margin-right: 8px;
  }
  .userblock{
    padding: 0px;
    padding-right: 5px;
    width: 125px;
    border: 0px solid #ffffff;
    top: 100px;
    left:-10px;
    box-sizing: content-box;
  }
  .dragUp{
    width: 15px;
  }
  .dragDn{
    width: 15px;
  }
  .recordblock{
    border: 0px solid #ffffff;
    padding: 0px;
    margin: 0px;
    left: 100px;
    right: 263px;
    top: 100px;
    min-width: 175px;
    z-index: 3;
  }
  .jamblock{
    padding: 0px;  
    margin: 0px;
    top: 100px;
    right: -20px;
    width: 280px;
  }
}

@media (820px<=width<=1275px) {
  .RoomComponentList{
    margin-right: 5px; 
  }
  .userblock{
    
    padding: 0px;
    width: 290px;
    margin: 5px;
    top: 100px;
  }
  .userblock div img{
    margin-left: 10px;
    margin-right: 10px;
  }
  .recordblock{
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    left: 305px;
    right: 305px;
    top: 100px;
  }
  .recordblock div img{
    margin-left: 10px;
    margin-right: 10px;
  }
  .jamblock{
    padding: 0px;
    margin: 5px;
    top: 100px;
    right: 0px;
  }
}

@media (width>=1275px) {
  .userblock{
    padding: 10px;
    width: 300px;
    margin: 10px;
    top: 130px;
  }
  .userblock div img{
    margin-left: 10px;
    margin-right: 10px;
  }
  .recordblock{
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    left: 350px;
    right: 350px;
    top: 130px;
  }
  .recordblock div img{
    margin-left: 10px;
    margin-right: 10px;
  }
  .jamblock{
    padding-top: 50px;
    margin: 10px;
    top: 130px;
    right: 10px;
  }
}
.list-container {
  display: block;
  font-size: 18px;
  background-color: #eee;
  flex-direction: column;
}
.item-container {
  border-radius: 25px;
  background-color: #fff;
  border: 1px solid black;
  padding: 25px 70px;
  margin: 15px 50px;
}